<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703120852758-gvssh17fot0i3e7edqiru6os4vhdgi3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703120852758-gvssh17fot0i3e7edqiru6os4vhdgi3k</string>
	<key>API_KEY</key>
	<string>AIzaSyCWBjPsTtOmjBV_2-Kr4cBuMAH151LshxI</string>
	<key>GCM_SENDER_ID</key>
	<string>703120852758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team1.TrackWildLifeDiseases</string>
	<key>PROJECT_ID</key>
	<string>apptrackwildlifediseases-388bf</string>
	<key>STORAGE_BUCKET</key>
	<string>apptrackwildlifediseases-388bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703120852758:ios:734d424d1b4f7c19abb237</string>
	<key>DATABASE_URL</key>
	<string>https://apptrackwildlifediseases-388bf-default-rtdb.firebaseio.com</string>
</dict>
</plist>